{%extends "root.html"%}{%block content%}
<div class="home">
    <section class="sect-1 center">
        <h1>VirAm</h1>
        <p>Your Virtual Amigo</p>
        <a href="/chat">Chat with VirAm</a>
    </section>
    <section class="sect-2">
        <h1>About</h1>
        <p>
            VirAm is a virtual chatbot designed to help Indian students studying abroad, to help them understand their surrondings and to make them feel at home. This bot was made keeping simplicity in mind, and to make the user feel comfortable using this.
        </p>
        <p>
            To make this chatbot effective in helping you adapt to the new places you are going to, VirAm has a number of features that make it easy to use. You can get these features listed
            <a href="/features">here</a>.
        </p>
    </section>
    <section class="sect-3 center">
        <p>
            Now what are you waiting for?<br/> Go ahead and <a href="/chat">start using VirAm</a>!
        </p>
    </section>
</div>
{%endblock%}